<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCMAf9cC5yYaG-pwRtfFCT2rDPPXw9_6Pc</string>
	<key>GCM_SENDER_ID</key>
	<string>708801876860</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.coverpage</string>
	<key>PROJECT_ID</key>
	<string>scholorsphere</string>
	<key>STORAGE_BUCKET</key>
	<string>scholorsphere.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:708801876860:ios:b9f1342ff0e57919080af9</string>
	<key>DATABASE_URL</key>
	<string>https://scholorsphere-default-rtdb.asia-southeast1.firebasedatabase.app</string>
</dict>
</plist>